.find {
    margin-top: 50px;
  }
  
  .find .find__header-list {
    display: flex;
    justify-content: space-around;
    color:white;
    position: relative;
    list-style: none;
    text-align: center;
  }
  
  .find .header-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .find .header-btn__title {
    display: block;
  }

  .header-btn__icon i{
    font-size: 25px;
    transition: 0.5s;
  }
  
  
  .find .header-btn__title {
    margin-top: 20px;
    font-size: 12px;
  }
  
  .find .find__recommended {
    margin-top: 30px;
    padding-top: 15px;
    border-top: 1px solid #f7f7f7;
    
  }
  
  .find .find__title {
    font-size: 12px;
    opacity: 0.7;
    margin-bottom: 20px;
    color:white;
  }
  .friend__name{
    color:white;
  }
  
label{
    position: relative;
  }
  
label input[type="checkbox"]
{
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
.header-btn__icon{
    width:100px;
    height: 100px;
    background: rgb(22, 22, 22);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.5s;
  }
  
  label input[type="checkbox"]:checked ~ .header-btn__icon i{
    color: #fff;
    text-shadow: 0 0 10px rgba(250, 193, 7,1),
                 0 0 10px rgba(250, 193, 7,1);
  }