.header_small{
    font-size: 700;
    padding: 10px;
    opacity: 0.7;
}
.corona{
    background-color: #203A43;
    width: 100%;
    height: 300px;
    border-radius: 10px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.kakao_mark i{
    position: relative;
    left:210px; 
    font-size: 13px;
    background-color: #F3DB00;
    color: black;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.header_a{
    font-size: 15px;
    color:white;
    font-weight: 600;
}
.header_b{
    font-size: 12px;
    color:white;
    font-weight: 300;
    background-color:#ED213A;
    border-radius: 10px;
    padding: 3px 5px;   
}
.corona_title{
    font-size: 25px;
    color:white;
    font-weight: 700;
}

.corona_qr i{
    font-size: 15px;
    color:white;
    font-weight: 600;
    background-color:#636363;
    border-radius: 10px;
    padding: 5px 10px;
    border: 1px solid white;
}
.corona_time{
    font-size: 12px;
    color:white;
    font-weight: 300;
}
.white-box{
    width: 95%;
    height: 100px;
    background-color: white;
    border-radius: 10px;
    display:flex;
    justify-content: space-around;
    align-items: center;    
}

.box_colum{
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-left: 1px solid black;
    padding: 5px 20px;
}
.box_colum:nth-child(1){
    border-left: none;
}

.box_title{
    font-size: 12px;
    font-weight: 600;
    margin: 10px;
}
.box_num{
    font-size: 13px;
    font-weight: 700;
    margin: 5px;
    color:red; 
}
.box_num2{
    font-size: 13px;
    font-weight: 700;
    margin: 5px;
    color:blue; 
}
.box_num3{
    font-size: 13px;
    font-weight: 700;
    margin: 5px;
    color:black; 
}

.box_num4{
    font-size: 13px;
    font-weight: 700;
    margin: 5px;
    color:gray; 
}

.box_ic{
 color:gray;
 font-size: 12px;
    font-weight: 600;
}
