@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

body{
    background-color: #F8F7FF;
    color:black;
    font-family: sans-serif;
    font-family: "Open Sans";
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:3%;
}
.all{
    height: 600px;
    width: 300px;
    background-color: #F8F8F8;
    border-radius: 50px;
    border: 15px #FBFBFD solid;
    box-shadow: 15px 15px 30px #C2C6D2;
}
.sign_in{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:17px;
    font-weight: 700;
    opacity: 0.7;
    margin-top: 35px;
    width:100%;
}
.phone_log{
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 40px;
}
.phone_log__email1{
    margin-top:10px;
    height: 30px;
    width: 230px;
    border-radius: 10px;
    font-size:13px;
    font-weight: 700;
    border:1px solid rgb(219, 219, 219);
    opacity: 0.7; 
}
.phone_log__password1{
    margin-top:14px;
    height: 30px;
    width: 230px;
    border-radius: 10px;
    font-size:13px;
    font-weight: 700;
    border:1px solid rgb(219, 219, 219); 
    opacity: 0.7;
}
.phone_forget{
    height:40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.phone_forget_colum{
    color:#E2293E;
    right:0px;
    font-size: 11px;
    margin-top: -25px;
    margin-left:150px;   
}
.phone_forget_remember{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.phone_forget_remember_box{
    border:1px solid rgb(219, 219, 219); 
    color:red;
    height: 13px;
    width: 15px;
    display: flex;
    justify-content: center;
    align-items:center;
}
.phone_forget_remember_me{
    font-size: 13px;
    opacity: 0.7;
    margin-left:8px;
}
.phone_or{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    margin-top: 35px;
}
.phone_or_signin{
    background-color: #E2293E;
    color:white;
    width: 240px;
    height: 35px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items:center;
    margin-left:-20px;
    font-size: 10px
}
.phone_or_or{
    font-size: 15px;
    opacity: 0.9;
    font-weight: 700;
    margin-left:-230px;
    margin-top:20px;
}
.phone_or_colum{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content:space-around;
    align-items:center;
    margin-top: 20px;
    margin-left: -22.5px;
}
.phone_or_colum_facebook{
    width:110px;
    height: 35px;
    border-radius: 30px;
    display: flex;
    justify-content:center;
    align-items:center;
    color:white;
    background-color: #475A95;
    font-size: 10px;
}
.phone_or_colum_twitter{
    width:110px;
    height: 35px;
    border-radius: 30px;
    display: flex;
    justify-content:center;
    align-items:center;
    color:white;
    background-color: #5DA1F2;
    font-size: 10px;
}
.phone_qu1{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content:start;
    align-items:center;
    opacity: 0.8;
    font-size: 11px;
}
.phone_qu1_signup{
    color:red;
    margin-left: 5px;
    font-weight: 700;
}
.phone_qu2{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content:start;
    align-items:center;
    opacity: 0.8;
    font-size: 11px;
    margin-top: -20px;
}
.phone_qu2_ret{
    color:red;
    margin-left: 5px;
    font-weight: 700;
}